# PostgreSQL
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
POSTGRES_PORT=5432

# Airflow
AIRFLOW__CORE__FERNET_KEY=W00gyuwliZEoEq4l1TbzZfUk-O-7zMtmqLc-D2StIfo=
AIRFLOW__WEBSERVER__SECRET_KEY=rTmuTgRBDc3yjNGeL4IPh5NVyWQ4WZVOGMYlGPjbyoI
AIRFLOW__CORE__LOAD_EXAMPLES=False

# Airflow Admin user
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin123

# Metabase 
MB_DB_FILE=/metabase-data/metabase.db

# --- Airflow SMTP (Gmail) ---
AIRFLOW__SMTP__SMTP_HOST=smtp.gmail.com
AIRFLOW__SMTP__SMTP_PORT=587
AIRFLOW__SMTP__SMTP_STARTTLS=True
AIRFLOW__SMTP__SMTP_SSL=False
AIRFLOW__SMTP__SMTP_USER=dahaldixa98@gmail.com
AIRFLOW__SMTP__SMTP_PASSWORD=xypkveproszpqajg
AIRFLOW__SMTP__SMTP_MAIL_FROM=dahaldixa98@gmail.com

